.site-footer {
    height: 102px;
    padding: 0;
    text-align: left;

    .container {
        height: 51px;
        padding: 0 134px;
        line-height: 51px;
    }

    .scroll-top {
        float: right;
    }

    .copyright {
        background: #f8f8f8;
    }

    .even-width {
      width: 280px;
      float: left;
      margin-right: 20px;
    }
}
