*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    overflow-y: scroll;
}

body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
}

h3,
h4,
h5 {
    color: #74CED9;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    float: left;
}

.main-nav {
    float: right;
}

.site-container {
    width: 1200px;
    margin: 0 auto;
}

.content-container {
    width: 100%;
    padding: 0 140px;
    margin: 0 auto;
    text-align: center;
    height: auto;
}

.content-container a {
    color: inherit;
}

.content-container.primary,
.content-container.primary h3,
.content-container.primary h4,
.content-container.primary h5 {
    background: #1CA4CA;
    color: #fff;
}

.content-container.secondary {
    background: #fff;
}

.content-container.secondary-grey {
    background: #F8F8F8;
}

.align-left {
    text-align: left;
}

.content-container.first {
    height: 372px;
}

.content-container.second {
    height: 630px;
}

#dlaczego-sociomatik {
    height: 606px;
}

#poznaj-mozliwosci {
    height: 812px;
}

#pakiety {
    height: 1035px;
}

#kontakt {
    height: 506px;
}

.site-footer {
    height: 102px;
    padding: 0;
    text-align: left;
}

.site-footer .container {
    height: 51px;
    padding: 0 140px;
}

.scroll-top {
    float: right;
}

.copyright {
    background: #f8f8f8;
}

.even-width {
  width: 280px;
  float: left;
  margin-right: 20px;
}
